<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <%- include("menu"); %> 
    
    <div>MYM Edu ** 항상 보이는 화면 **</div>
    
    
    <% if (typeof(user) == "undefined" || user === null)
    { %>

    <!-- Login Before Section -->
    <div>-------------<br>
      로그인 전 화면</div>

    <% } else { %>

    <!-- Login After Section -->
    <div>-------------<br>
      로그인 후 화면</div>

      <div class="row pr-lg-5" style="padding: 0;">
        <div class="col-md-5 d-flex align-items-center">
          <div >
            <button
              type="button"
              class="btn bookmark"
              style="height:34px;"
              onclick="location.href='/api/upload'"
            >
              내 교실
            </button>

            <button
              type="button"
              class="btn bookmark"
              style="height:34px;"
              onclick="location.href='/api/idea'"
            >
              수업 개설하기
            </button>
          </div>
        </div>
      </div>
    </section>

    <% } %> <%-include("footer");%>
  </body>
</html>
