<style>
  .nav-right-user {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-user-img{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    overflow: hidden;
  }

  .bookmark{
    background-color:#9AF7FF;
    border:0px;
    padding: 5px;
    padding-left: 15px;
    box-shadow : 0px 1px 5px rgb(198, 198, 198);
    clip-path: polygon(17px 0, calc(100% - 14px) 0, 100% 0px, 100% calc(100% - 0px), calc(100% - 0px) 100%, 17px 100%, 0 calc(100% - 17px), 0 17px);
    
    }

  .profile-frame{
    position: absolute;
    display: fixed;
    z-index: 2;
    width: 300px;
    height: 300px;
    top: 72px;
    right: 70px;
  }


  .profile{
    width: 300px;
    height: 227px;
    background-color:white;
    padding: 10px;
    float: left;
    border-radius: 5px;
    /* border:1px solid #E2E2E2; */
    box-shadow : 0px 3px 7px rgb(198, 198, 198);
  }

  .background-area{
    position: fixed;
    z-index: -1;
    height: 100vw;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: initial;
  }

  .profile-user{
    margin-top: 20px;
    margin-left: 20px;
  }

  .profile-user-img{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    overflow: hidden;
  }

  .profile-user-img-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-user-data{
    margin-left: 95px;
    padding-top: 20px;
  }

  .classic-button{
    background-color: white; 
    color:black; 
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid#E2E2E2;
    width: 280px;
    margin-top: 25px;
    font-size: 15px;
  }

  .createClass{
    color: white !important;
    background-color: #719DFF !important; 
    padding:8px; 
    width: 300px; 
    margin-left: 0; 
    margin-right: 0; 
    font-size: 15px;
    font-weight: bold;

  }
  
</style>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding:0px; ">
  <!-- Navbar brand -->
  

  <a class="navbar-brand" href="/" style="margin-left : 10vw;"
    ><div>
      <img
        src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FMeacn%2FbtqTLxJ7EO6%2FLQki6SCykhjxrSjEgwQ0C1%2Fimg.png"
        alt=""
        style="width:30px;"
      /><strong> MYM Edu</strong>
    </div></a
  >

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/upload">내 교실</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/idea">Idea</a>
      </li>
      <li class="nav-item"></li>
    </ul>
  
  <!--links-->
  <% if (typeof(user) == "undefined" || user === null) { %>

  <!-- 로그인 아닐때 -->

  <div class="nav-right-user">
    <a class="nav-link" href="/api/user/login">
      <button class="btn btn-link" style="padding : 0px;">
        로그인
      </button></a
    >
    <a class="nav-link" href="/api/user/signup" style="margin-right: 10vw;">
      <button
        class="btn btn-danger"
        style="background-color:#719DFF !important; padding:10px"
      >
        회원가입
      </button>
    </a>
  </div>
</div>
</nav>
  <% } else { %>


  <!-- 로그인 후 -->

  <div class="nav-right-user">  
      <a href="https://zoom.us/j/" target="_blank">
        <button class="bookmark zoom-link" style="margin-right: 7px;"> 📝 온라인 강의실</button>
      </a>
    </div>

  <div class="nav-right-user" style="margin-right : 10vw;">
    <a href="javascript:doDisplay();" class="nav-link">
          <div class="nav-user-img" > 
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuy397E4Wi4BgjTTFsOMctyStVII_fSRP7Rg&usqp=CAU" alt="profile-user-img" class="profile-user-img-img"> 
            </div>
      </a>
    
  </div>
</div>

</nav>

<div id="toDisplay" style="display:none;">
    <div class="profile-frame">
        <a href="javascript:doDisplay();">
            <div class="background-area"></div>
          </a>

          <div class="profile">

      <div class="profile-user">
        <div class="profile-user-img"> 
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuy397E4Wi4BgjTTFsOMctyStVII_fSRP7Rg&usqp=CAU" alt="profile-user-img" class="profile-user-img-img"> 
        </div>
        <div class="profile-user-data">
          <%= user.name %> | <%= user.roles %> <br> <%= user.email %> </div>
        
      </div>

      <a href="/" style="padding: 0px;">
        <button class="classic-button"
          
        >
          내 정보 보기
        </button>
      </a>

      <a href="/api/user/logout" >
        <button class="classic-button"
        style="margin-top: 10px !important;"
        >
          로그아웃
        </button>
      </a>
    </div>

    <% if (user.roles == "선생님") { %>

      <a href="/" style="padding: 0px;">
        <button
          class="btn createClass"
          
        >
        
        
        교실 개설하기
          
        </button>
      </a>
      <% } %>
        
    </div>
    
  </div>

  <% } %>
  <!-- Collapsible content -->

<script type="text/javascript">
 
  function doDisplay() {
    var con = document.getElementById("toDisplay");
    if (con.style.display == "none") {
      con.style.display = "block";
    } else {
      con.style.display = "none";
    }
  }
</script>
